# OOPs

In [21]:
class num:
    def __init__(self,a,b):
        self.f = a
        self.s = b
        self.name = "dwara"
        self.age = 15
    def sum(self):
        return self.f + self.s,self.name,self.age

obj = num(3,5)
print(obj.sum())
print(obj.name)
print(obj.age)

(8, 'dwara', 15)
dwara
15

# Single inheritance

In [27]:
class Dog:
    def __init__(self,name):
        self.name = name

    def outer(self,a):
        
        return self.name,a

class cat(Dog):
    def meow(self):
        return "cat"+self.name

dog = Dog("Buddy")
cat = cat("Whiskers")

print(dog.outer(10))  
print(cat.outer(10))  
print(cat.meow())

('Buddy', 10)
('Whiskers', 10)
catWhiskers

# multilevel

In [31]:
class Dog:
    def __init__(self,name):
        self.name = name

    def outer(self,a):
        
        return self.name,a

class cat(Dog):
    def meow(self):
        return "cat"+self.name

class lion(cat):
    def roar(self,a):
        return a + 5


dog = Dog("Buddy")
cat = cat("Whiskers")
lion = lion("buddy")
print(dog.outer(10))  
print(cat.outer(10))  
print(cat.meow())
print(lion.roar(10))

('Buddy', 10)
('Whiskers', 10)
catWhiskers
15

# inheritance

In [52]:
class greet:
    def __init__(self,name):
        self.name = name
        
    def names(self):
        return "hello " + self.name + " how are you"
class info:
    def __init__(self,age):
        self.age = age
        
    def ages(self):
        return "you are " + str(self.age) + " years old"

class prin(greet,info):
     def __init__(self, name, age):
        greet.__init__(self, name)   
        info.__init__(self, age)     

     def display(self):
        greeting = self.names()  
        age_info = self.ages()     
        return greeting + " " + age_info

obj3 = prin("dwara",5)
obj3.display()

'hello dwara how are you you are 5 years old'

# Encapsulation

In [16]:
class sample:
    def __init__(self):
        self.company = "dwara"

obj = sample()
obj.company = "gooooooooooooogle"
obj.company

'gooooooooooooogle'

In [20]:
class sample:
    def __init__(self):
        self.__company = "dwara"                        # used private key modifier 

obj = sample()
obj.__company                                           # cannot use outside the class use only in the class only

AttributeError: 'sample' object has no attribute '__company'

In [22]:
class sample:
    def __init__(self):
        self.__company = "dwara"                        # used private key modifier 
    def company(self):
        return self.__company
obj = sample()
obj.company()                                          # only use in the class

'dwara'

1. company = public
2. __company = private
3. _company = protected

In [25]:
class sample:
    def __init__(self):
        self._company = "dwara"                        # used protect key modifier 
class child(sample):
    pass
obj = child()
obj._company                                          # only use in the class

'dwara'

# Pass is the place holder for future coding purpose it will execute with no need

In [26]:
for x in [0, 1, 2]:
  pass

# Polymorphism

One function can be used in diffrent way

In [30]:
def add(a,b,c=0):
    return a + b + c

print(add(1,2,5))         #used in the 3 value 
add(1,2)                  #used in the 2 value

8

3

In [43]:
class sample():
    def sound(self):
        return "sound"

class sample1(sample):
    def sound(self):
        return "DOG Bark"               # method riding

obj = sample1()
obj.sound()

'DOG Bark'

In [15]:
Dic = {
    1:"One",
    2:"Two",
    3:"Three"
}
print(Dic.get("Two"))
print(Dic.keys())
print(Dic.values())
print(Dic.items())

None
dict_keys([1, 2, 3])
dict_values(['One', 'Two', 'Three'])
dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [22]:
for i,j in Dic.items():
    if j == "Three":
        print(i,j)

3 Three

In [31]:
val = [print(i,j) for i,j in Dic.items() if j == "Three" ]

3 Three

[None]

In [38]:
import pandas as pd
v = pd.DataFrame(list(Dic.items()), columns= ["key","value"])
v

   key  value
0    1    One
1    2    Two
2    3  Three

In [39]:
list(Dic.items())

[(1, 'One'), (2, 'Two'), (3, 'Three')]

In [43]:
se = set(Dic.values())
se

{'One', 'Three', 'Two'}

In [56]:
v = {1,1,1,2,2,3,3,3,4,5,5,6,67,7,7}
v1 = {1,12,1,32,2,2,4,4,6,69,4,4,3,3,2,4,8,9,0,8,87,6,5,4,3,2,12,34,5,6,6,7}
print(v | v1)
print(v & v1)
print(v1 - v)

{0, 1, 2, 3, 4, 5, 6, 67, 7, 69, 8, 9, 12, 87, 32, 34}
{1, 2, 3, 4, 5, 6, 7}
{32, 0, 34, 69, 8, 9, 12, 87}

In [57]:
print(bytearray(v1))

bytearray(b' \x01\x02\x03\x04E\x06\x00\x08\t\x05"\x0c\x07W')

In [70]:
from collections import Counter
   
val = Counter(['B','B','A','B','C','A','B','B','A','C'])                  # This will tell the how many values in the list 

for i,j in val.items():
    print(i,j)

B 5
A 3
C 2

In [68]:
val.items()

dict_items([('B', 5), ('A', 3), ('C', 2)])

In [69]:
val

Counter({'B': 5, 'A': 3, 'C': 2})

In [71]:
li = [1,2,3]
print("hello",li[2])

hello 3

In [77]:
t = type(None)
print(t)

<class 'NoneType'>

#  Ternary Operator

In [80]:
a = 20
b = 30
val = a if a < b else b
val

20