# OOPs

In [1]:
class num:
    def __init__(self,a,b):
        self.f = a
        self.s = b
        self.name = "dwara"
        self.age = 15
    def sum(self):
        return self.f + self.s,self.name,self.age

obj = num(3,5)
print(obj.sum())
print(obj.name)
print(obj.age)

(8, 'dwara', 15)
dwara
15

# Single inheritance

In [27]:
class Dog:
    def __init__(self,name):
        self.name = name

    def outer(self,a):
        
        return self.name,a

class cat(Dog):
    def meow(self):
        return "cat"+self.name

dog = Dog("Buddy")
cat = cat("Whiskers")

print(dog.outer(10))  
print(cat.outer(10))  
print(cat.meow())

('Buddy', 10)
('Whiskers', 10)
catWhiskers

# multilevel

In [31]:
class Dog:
    def __init__(self,name):
        self.name = name

    def outer(self,a):
        
        return self.name,a

class cat(Dog):
    def meow(self):
        return "cat"+self.name

class lion(cat):
    def roar(self,a):
        return a + 5


dog = Dog("Buddy")
cat = cat("Whiskers")
lion = lion("buddy")
print(dog.outer(10))  
print(cat.outer(10))  
print(cat.meow())
print(lion.roar(10))

('Buddy', 10)
('Whiskers', 10)
catWhiskers
15

# inheritance

In [52]:
class greet:
    def __init__(self,name):
        self.name = name
        
    def names(self):
        return "hello " + self.name + " how are you"
class info:
    def __init__(self,age):
        self.age = age
        
    def ages(self):
        return "you are " + str(self.age) + " years old"

class prin(greet,info):
     def __init__(self, name, age):
        greet.__init__(self, name)   
        info.__init__(self, age)     

     def display(self):
        greeting = self.names()  
        age_info = self.ages()     
        return greeting + " " + age_info

obj3 = prin("dwara",5)
obj3.display()

'hello dwara how are you you are 5 years old'

# Encapsulation

In [16]:
class sample:
    def __init__(self):
        self.company = "dwara"

obj = sample()
obj.company = "gooooooooooooogle"
obj.company

'gooooooooooooogle'

In [20]:
class sample:
    def __init__(self):
        self.__company = "dwara"                        # used private key modifier 

obj = sample()
obj.__company                                           # cannot use outside the class use only in the class only

AttributeError: 'sample' object has no attribute '__company'

In [22]:
class sample:
    def __init__(self):
        self.__company = "dwara"                        # used private key modifier 
    def company(self):
        return self.__company
obj = sample()
obj.company()                                          # only use in the class

'dwara'

1. company = public
2. __company = private
3. _company = protected

In [25]:
class sample:
    def __init__(self):
        self._company = "dwara"                        # used protect key modifier 
class child(sample):
    pass
obj = child()
obj._company                                          # only use in the class

'dwara'

# Pass is the place holder for future coding purpose it will execute with no need

In [26]:
for x in [0, 1, 2]:
  pass

# Polymorphism

One function can be used in diffrent way

In [30]:
def add(a,b,c=0):
    return a + b + c

print(add(1,2,5))         #used in the 3 value 
add(1,2)                  #used in the 2 value

8

3

In [43]:
class sample():
    def sound(self):
        return "sound"

class sample1(sample):
    def sound(self):
        return "DOG Bark"               # method riding

obj = sample1()
obj.sound()

'DOG Bark'

In [1]:
Dic = {
    1:"One",
    2:"Two",
    3:"Three"
}
print(Dic.get("Two"))
print(Dic.keys())
print(Dic.values())
print(Dic.items())

None
dict_keys([1, 2, 3])
dict_values(['One', 'Two', 'Three'])
dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [22]:
for i,j in Dic.items():
    if j == "Three":
        print(i,j)

3 Three

In [31]:
val = [print(i,j) for i,j in Dic.items() if j == "Three" ]

3 Three

[None]

In [38]:
import pandas as pd
v = pd.DataFrame(list(Dic.items()), columns= ["key","value"])
v

   key  value
0    1    One
1    2    Two
2    3  Three

In [39]:
list(Dic.items())

[(1, 'One'), (2, 'Two'), (3, 'Three')]

In [43]:
se = set(Dic.values())
se

{'One', 'Three', 'Two'}

In [56]:
v = {1,1,1,2,2,3,3,3,4,5,5,6,67,7,7}
v1 = {1,12,1,32,2,2,4,4,6,69,4,4,3,3,2,4,8,9,0,8,87,6,5,4,3,2,12,34,5,6,6,7}
print(v | v1)
print(v & v1)
print(v1 - v)

{0, 1, 2, 3, 4, 5, 6, 67, 7, 69, 8, 9, 12, 87, 32, 34}
{1, 2, 3, 4, 5, 6, 7}
{32, 0, 34, 69, 8, 9, 12, 87}

In [57]:
print(bytearray(v1))

bytearray(b' \x01\x02\x03\x04E\x06\x00\x08\t\x05"\x0c\x07W')

In [70]:
from collections import Counter
   
val = Counter(['B','B','A','B','C','A','B','B','A','C'])                  # This will tell the how many values in the list 

for i,j in val.items():
    print(i,j)

B 5
A 3
C 2

In [68]:
val.items()

dict_items([('B', 5), ('A', 3), ('C', 2)])

In [69]:
val

Counter({'B': 5, 'A': 3, 'C': 2})

In [71]:
li = [1,2,3]
print("hello",li[2])

hello 3

In [77]:
t = type(None)
print(t)

<class 'NoneType'>

#  Ternary Operator

In [80]:
a = 20
b = 30
val = a if a < b else b
val

20

In [9]:
Dic

{1: 'four', 2: 'Two', 3: 'Three', 'four': 2}

In [4]:
Dic[1] = "four"

In [47]:
Dic

{2: 'Two', 3: 'Three'}

In [59]:
Dic = {
    1:"One",
    2:"Two",
    3:"Three"
}

In [60]:
dic = Dic

# updating the keys

In [61]:
dic = {69:dic.pop(1),**dic}            #      ** means unpacking the dic

In [62]:
dic

{69: 'One', 2: 'Two', 3: 'Three'}

In [64]:
a = {1,2,3,4,5}
a.add(9)
a

{1, 2, 3, 4, 5, 9}

# Frozenset

In [68]:
s = set(["a", "b","c"])

print("Normal Set")
print(s)

# A frozen set we cannot mutate the set
fs = frozenset(["e", "f", "g"])

print("\nFrozen Set")
print(fs.add(5))

Normal Set
{'a', 'b', 'c'}

Frozen Set

AttributeError: 'frozenset' object has no attribute 'add'

In [72]:
a = {1,2,3,4,5}
b = {2,3,4,7,8,9}
print(a.union(b))
print(a.intersection(b))
print(a - b)

{1, 2, 3, 4, 5, 7, 8, 9}
{2, 3, 4}
{1, 5}

In [81]:
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [100]:
a = "hello"
print("e" in a)
print("g" not in a)
a = list(a)
a[2] = "g"
"".join(a)

True
True

'heglo'

In [103]:
print(bool("Hello"))
print(bool())

True
False

# Lambda

In [104]:
a = lambda b: b+2
a(b = 3)

5

In [106]:
val = lambda a,b,c: a+b-c
val(1,20,3)

18

In [107]:
def fun(n):
    return lambda x: x + n
val = fun(5)
val(45)

50

In [4]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number == 3:
        print("Found 3, exiting loop.")
        break
else:
    print("3 not found in the list.")

Found 3, exiting loop.

In [6]:
count = 0

while count < 5:
    print(f"Count: {count}")
    if count == 3:
        print("Reached 3, exiting the loop.")
        break
    count += 1
else:
    print("Count reached 5, loop completed without break.")

print("Loop has exited.")

Count: 0
Count: 1
Count: 2
Count: 3
Reached 3, exiting the loop.
Loop has exited.

In [8]:
a = [1,2,3,4,5,6]
li = [ i if i == 3 else "not in list" for i in a]
li

['not in list', 'not in list', 3, 'not in list', 'not in list', 'not in list']

In [12]:

def fun(n):
    return lambda x: x - n
val = fun(5)
val(45)

40

In [11]:
res = lambda x: x + 2
res(5)

7

In [ ]:
x = 300

def myfunc():
    global x
    return x
def my():
    c = myfunc()
    print(c)
    return c * 2
my()

In [17]:
def divide(x, y): 
    try: 
        # Floor Division : Gives only Fractional
        # Part as Answer 
        result = x // y 
    except ZeroDivisionError: 
        print("Sorry ! You are dividing by zero ") 
    else:
        print("Yeah ! Your answer is :", result) 
divide(1,0)

Sorry ! You are dividing by zero

In [6]:
def divide():
    while True:
            try:  
                x = int(input("Enter the 1"))
                y = int(input("Enter the 2"))
                result = x // y 
            except ZeroDivisionError: 
                print("Sorry ! You are dividing by zero ")
            else:
                print("Yeah ! Your answer is :", result)
                break
divide()

Enter the 1 4
Enter the 2 2

Yeah ! Your answer is : 2

In [14]:
file = open("sample.txt","r")
con = file.read()
print(con)

Hello this file where the python want to access

In [18]:
file = open("sample2.txt","w")
con = file.write("hello this new created file")
print(con)      # returns the len of the string in the file
file.close()

27

In [17]:
file = open("sample2.txt","r")
con = file.read()
print(con)
file.close()     # need to close the file because there will occur some corrupt of the daata

hello this new created file

In [19]:
import sys
print(sys.path)

['C:\\Users\\HP\\Data Aces\\Python', 'C:\\Users\\HP\\anaconda3\\python312.zip', 'C:\\Users\\HP\\anaconda3\\DLLs', 'C:\\Users\\HP\\anaconda3\\Lib', 'C:\\Users\\HP\\anaconda3', '', 'C:\\Users\\HP\\anaconda3\\Lib\\site-packages', 'C:\\Users\\HP\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\HP\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\HP\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [29]:
import pkgutil
li = []
# List all installed modules
for module in pkgutil.iter_modules():
    li.append(module.name)

li

['conf',
 'sphinxify',
 'sphinxthread',
 '_asyncio',
 '_bz2',
 '_ctypes',
 '_ctypes_test',
 '_decimal',
 '_elementtree',
 '_hashlib',
 '_lzma',
 '_msi',
 '_multiprocessing',
 '_overlapped',
 '_queue',
 '_socket',
 '_sqlite3',
 '_ssl',
 '_testbuffer',
 '_testcapi',
 '_testclinic',
 '_testconsole',
 '_testimportmultiple',
 '_testinternalcapi',
 '_testmultiphase',
 '_testsinglephase',
 '_tkinter',
 '_uuid',
 '_wmi',
 '_zoneinfo',
 'pyexpat',
 'select',
 'unicodedata',
 'winsound',
 'xxlimited',
 'xxlimited_35',
 '__future__',
 '__hello__',
 '__phello__',
 '_aix_support',
 '_collections_abc',
 '_compat_pickle',
 '_compression',
 '_markupbase',
 '_nsis',
 '_osx_support',
 '_py_abc',
 '_pydatetime',
 '_pydecimal',
 '_pyio',
 '_pylong',
 '_sitebuiltins',
 '_strptime',
 '_system_path',
 '_threading_local',
 '_weakrefset',
 'abc',
 'aifc',
 'antigravity',
 'argparse',
 'ast',
 'asyncio',
 'base64',
 'bdb',
 'bisect',
 'bz2',
 'cProfile',
 'calendar',
 'cgi',
 'cgitb',
 'chunk',
 'cmd',
 'code',
 'codecs',
 'codeop',
 'collections',
 'colorsys',
 'compileall',
 'concurrent',
 'configparser',
 'contextlib',
 'contextvars',
 'copy',
 'copyreg',
 'crypt',
 'csv',
 'ctypes',
 'curses',
 'dataclasses',
 'datetime',
 'dbm',
 'decimal',
 'difflib',
 'dis',
 'doctest',
 'email',
 'encodings',
 'ensurepip',
 'enum',
 'filecmp',
 'fileinput',
 'fnmatch',
 'fractions',
 'ftplib',
 'functools',
 'genericpath',
 'getopt',
 'getpass',
 'gettext',
 'glob',
 'graphlib',
 'gzip',
 'hashlib',
 'heapq',
 'hmac',
 'html',
 'http',
 'idlelib',
 'imaplib',
 'imghdr',
 'importlib',
 'inspect',
 'io',
 'ipaddress',
 'json',
 'keyword',
 'lib2to3',
 'linecache',
 'locale',
 'logging',
 'lzma',
 'mailbox',
 'mailcap',
 'mimetypes',
 'modulefinder',
 'msilib',
 'multiprocessing',
 'netrc',
 'nntplib',
 'ntpath',
 'nturl2path',
 'numbers',
 'opcode',
 'operator',
 'optparse',
 'os',
 'pathlib',
 'pdb',
 'pickle',
 'pickletools',
 'pipes',
 'pkgutil',
 'platform',
 'plistlib',
 'poplib',
 'posixpath',
 'pprint',
 'profile',
 'pstats',
 'pty',
 'py_compile',
 'pyclbr',
 'pydoc',
 'pydoc_data',
 'queue',
 'quopri',
 'random',
 're',
 'reprlib',
 'rlcompleter',
 'runpy',
 'sched',
 'secrets',
 'selectors',
 'shelve',
 'shlex',
 'shutil',
 'signal',
 'site',
 'smtplib',
 'sndhdr',
 'socket',
 'socketserver',
 'sqlite3',
 'sre_compile',
 'sre_constants',
 'sre_parse',
 'ssl',
 'stat',
 'statistics',
 'string',
 'stringprep',
 'struct',
 'subprocess',
 'sunau',
 'symtable',
 'sysconfig',
 'tabnanny',
 'tarfile',
 'telnetlib',
 'tempfile',
 'test',
 'textwrap',
 'this',
 'threading',
 'timeit',
 'tkinter',
 'token',
 'tokenize',
 'tomllib',
 'trace',
 'traceback',
 'tracemalloc',
 'tty',
 'turtle',
 'turtledemo',
 'types',
 'typing',
 'unittest',
 'urllib',
 'uu',
 'uuid',
 'venv',
 'warnings',
 'wave',
 'weakref',
 'webbrowser',
 'wsgiref',
 'xdrlib',
 'xml',
 'xmlrpc',
 'zipapp',
 'zipfile',
 'zipimport',
 'zoneinfo',
 'cwp',
 '7f0197f6d050da244d93__mypyc',
 'Cython',
 'IPython',
 'Levenshtein',
 'OpenSSL',
 'PIL',
 'PyQt5',
 '_argon2_cffi_bindings',
 '_black_version',
 '_brotli',
 '_cffi_backend',
 '_distutils_hack',
 '_plotly_future_',
 '_plotly_utils',
 '_pytest',
 '_yaml',
 'absl',
 'adodbapi',
 'aiobotocore',
 'aiohttp',
 'aioitertools',
 'aiosignal',
 'alabaster',
 'altair',
 'anaconda_anon_usage',
 'anaconda_catalogs',
 'anaconda_cloud_auth',
 'anaconda_navigator',
 'anaconda_project',
 'annotated_types',
 'anyio',
 'appdirs',
 'archspec',
 'argon2',
 'arrow',
 'astroid',
 'astropy',
 'astropy_iers_data',
 'asttokens',
 'astunparse',
 'async_lru',
 'atomicwrites',
 'attr',
 'attrs',
 'automat',
 'autopep8',
 'babel',
 'bcrypt',
 'binaryornot',
 'binstar_client',
 'black',
 'blackd',
 'bleach',
 'blib2to3',
 'blinker',
 'blis',
 'bokeh',
 'boltons',
 'botocore',
 'bottleneck',
 'brotli',
 'bs4',
 'cachetools',
 'catalogue',
 'certifi',
 'cffi',
 'chardet',
 'charset_normalizer',
 'clang',
 'click',
 'cloudpathlib',
 'cloudpickle',
 'colorama',
 'colorcet',
 'comm',
 'conda',
 'conda_build',
 'conda_content_trust',
 'conda_env',
 'conda_index',
 'conda_libmamba_solver',
 'conda_pack',
 'conda_package_handling',
 'conda_package_streaming',
 'conda_token',
 'confection',
 'constantly',
 'contourpy',
 'cookiecutter',
 'cpuinfo',
 'cryptography',
 'cssselect',
 'curl',
 'cycler',
 'cymem',
 'cython',
 'cytoolz',
 'dask',
 'dask_expr',
 'datashader',
 'dateutil',
 'debugpy',
 'decorator',
 'defusedxml',
 'diff_match_patch',
 'dill',
 'distributed',
 'distro',
 'docstring_to_markdown',
 'docutils',
 'dotenv',
 'en_core_web_sm',
 'entrypoints',
 'erfa',
 'et_xmlfile',
 'executing',
 'fastjsonschema',
 'filelock',
 'flake8',
 'flask',
 'flatbuffers',
 'fontTools',
 'frozendict',
 'frozenlist',
 'fsspec',
 'gast',
 'gensim',
 'git',
 'gitdb',
 'greenlet',
 'grpc',
 'h11',
 'h5py',
 'heapdict',
 'holoviews',
 'html5lib',
 'huggingface_hub',
 'hvplot',
 'hyperlink',
 'idna',
 'imagecodecs',
 'imageio',
 'imagesize',
 'imblearn',
 'importlib_metadata',
 'incremental',
 'inflection',
 'iniconfig',
 'intake',
 'intervaltree',
 'ipykernel',
 'ipykernel_launcher',
 'ipython_genutils',
 'ipywidgets',
 'isapi',
 'isort',
 'isympy',
 'itemadapter',
 'itemloaders',
 'itsdangerous',
 'jedi',
 'jellyfish',
 'jinja2',
 'jmespath',
 'joblib',
 'json5',
 'jsonpatch',
 'jsonpointer',
 'jsonschema',
 'jsonschema_specifications',
 'jupyter',
 'jupyter_client',
 'jupyter_console',
 'jupyter_core',
 'jupyter_events',
 'jupyter_lsp',
 'jupyter_server',
 'jupyter_server_terminals',
 'jupyterlab',
 'jupyterlab_plotly',
 'jupyterlab_pygments',
 'jupyterlab_server',
 'jupyterlab_widgets',
 'jwt',
 'keras',
 'keyring',
 'kiwisolver',
 'langcodes',
 'language_data',
 'lazy_loader',
 'lazy_object_proxy',
 'lckr_jupyterlab_variableinspector',
 'libarchive',
 'libmambapy',
 'lief',
 'lightgbm',
 'linkify_it',
 'llvmlite',
 'lmdb',
 'locket',
 'lxml',
 'lz4',
 'marisa_trie',
 'markdown',
 'markdown_it',
 'markupsafe',
 'matplotlib',
 'matplotlib_inline',
 'mccabe',
 'mdit_py_plugins',
 'mdurl',
 'menuinst',
 'mistune',
 'mkl',
 'mkl_fft',
 'ml_dtypes',
 'more_itertools',
 'mpmath',
 'msgpack',
 'multidict',
 'multipledispatch',
 'murmurhash',
 'mypy',
 'mypy_extensions',
 'mypyc',
 'nacl',
 'namex',
 'navigator_updater',
 'nbclient',
 'nbconvert',
 'nbformat',
 'nest_asyncio',
 'networkx',
 'nltk',
 'notebook',
 'notebook_shim',
 'numba',
 'numbergen',
 'numexpr',
 'numpy',
 'numpydoc',
 'openpyxl',
 'opt_einsum',
 'optree',
 'outcome',
 'overrides',
 'packaging',
 'pandas',
 'pandocfilters',
 'panel',
 'param',
 'paramiko',
 'parsel',
 'parso',
 'partd',
 'pasta',
 'pathspec',
 'patsy',
 'pexpect',
 'pickleshare',
 'pip',
 'pkce',
 'pkg_resources',
 'pkginfo',
 'platformdirs',
 'plotly',
 'pluggy',
 'ply',
 'preshed',
 'prometheus_client',
 'prompt_toolkit',
 'protego',
 'psutil',
 'ptyprocess',
 'pure_eval',
 'py',
 'pyarrow',
 'pyasn1',
 'pyasn1_modules',
 'pycodestyle',
 'pycosat',
 'pycparser',
 'pyct',
 'pycurl',
 'pydantic',
 'pydantic_core',
 'pydeck',
 'pydispatch',
 'pydocstyle',
 'pyflakes',
 'pygments',
 'pylab',
 'pylint',
 'pylint_venv',
 'pyls_spyder',
 'pylsp',
 'pylsp_black',
 'pylsp_jsonrpc',
 'pyodbc',
 'pyparsing',
 'pytest',
 'pythoncom',
 'pythonjsonlogger',
 'pytoolconfig',
 'pytz',
 'pyviz_comms',
 'pywt',
 'pyximport',
 'qdarkstyle',
 'qstylizer',
 'qtawesome',
 'qtconsole',
 'qtpy',
 'queuelib',
 'rapidfuzz',
 'referencing',
 'regex',
 'repo_cli',
 'requests',
 'requests_file',
 'requests_toolbelt',
 'rfc3339_validator',
 'rfc3986_validator',
 'rich',
 'rope',
 'rpds',
 'rtree',
 'ruamel_yaml',
 's3fs',
 'safetensors',
 'scapy',
 'scipy',
 'scrapy',
 'seaborn',
 'selenium',
 'semver',
 'send2trash',
 'service_identity',
 'setuptools',
 'shellingham',
 'sipbuild',
 'six',
 'skimage',
 'sklearn',
 'slugify',
 'smart_open',
 'smmap',
 'snappy',
 'sniffio',
 'snowballstemmer',
 'socks',
 'sockshandler',
 'sortedcontainers',
 'soupsieve',
 'spacy',
 'spacy_legacy',
 'spacy_loggers',
 'sphinx',
 'spyder',
 'spyder_kernels',
 'sqlalchemy',
 'srsly',
 'stack_data',
 'statsmodels',
 'streamlit',
 'sympy',
 'tables',
 'tabulate',
 'tblib',
 'tenacity',
 'tensorboard',
 'tensorboard_data_server',
 'tensorflow',
 'termcolor',
 'terminado',
 'test_pycosat',
 'text_unidecode',
 'textdistance',
 'tf_keras',
 'thinc',
 'threadpoolctl',
 'three_merge',
 'tifffile',
 'tinycss2',
 'tldextract',
 'tlz',
 'tokenizers',
 'toml',
 'tomli',
 'tomlkit',
 'toolz',
 'tornado',
 'tqdm',
 'traitlets',
 'transformers',
 'trio',
 'trio_websocket',
 'truststore',
 'twisted',
 'typer',
 'typing_extensions',
 'tzdata',
 'uc_micro',
 'ujson',
 'unicodedata2',
 'unidecode',
 'urllib3',
 'w3lib',
 'wasabi',
 'watchdog',
 'wcwidth',
 'weasel',
 'webencodings',
 'websocket',
 'werkzeug',
 'whatthepatch',
 'wheel',
 'widgetsnbextension',
 'win32com',
 'win32ctypes',
 'win_inet_pton',
 'winpty',
 'wrapt',
 'wsproto',
 'xarray',
 'xgboost',
 'xlwings',
 'xlwingsjs',
 'xyzservices',
 'yaml',
 'yapf',
 'yapf_third_party',
 'yapftests',
 'yarl',
 'zict',
 'zipp',
 'zmq',
 'zope',
 'zstandard',
 '_win32sysloader',
 '_winxptheme',
 'dde',
 'mmapfile',
 'odbc',
 'perfmon',
 'servicemanager',
 'timer',
 'win32api',
 'win32clipboard',
 'win32console',
 'win32cred',
 'win32crypt',
 'win32event',
 'win32evtlog',
 'win32file',
 'win32gui',
 'win32help',
 'win32inet',
 'win32job',
 'win32lz',
 'win32net',
 'win32pdh',
 'win32pipe',
 'win32print',
 'win32process',
 'win32profile',
 'win32ras',
 'win32security',
 'win32service',
 'win32trace',
 'win32transaction',
 'win32ts',
 'win32ui',
 'win32uiole',
 'win32wnet',
 'winxpgui',
 'afxres',
 'commctrl',
 'dbi',
 'mmsystem',
 'netbios',
 'ntsecuritycon',
 'pywin32_bootstrap',
 'pywin32_testutil',
 'pywintypes',
 'rasutil',
 'regcheck',
 'regutil',
 'sspi',
 'sspicon',
 'win2kras',
 'win32con',
 'win32cryptcon',
 'win32evtlogutil',
 'win32gui_struct',
 'win32inetcon',
 'win32netcon',
 'win32pdhquery',
 'win32pdhutil',
 'win32rcparser',
 'win32serviceutil',
 'win32timezone',
 'win32traceutil',
 'win32verstamp',
 'winerror',
 'winioctlcon',
 'winnt',
 'winperf',
 'winxptheme',
 'pywin']

In [40]:
import json          #Javascript Object Notation
a = '{"name": "John","age": "30","city": "New York"}'
print(type(json.loads(a)))

<class 'dict'>

In [41]:
print((json.loads(a)))

{'name': 'John', 'age': '30', 'city': 'New York'}

In [42]:
dir(frozenset)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [44]:
def fun(*args):
    for i in args:
        print(i)
    return sum(args)
fun(1,2,3,4,5,6)

1
2
3
4
5
6

21

In [52]:
def fun(**kwargs):
    for i,j in kwargs.items():
        print(i,j.upper())
        
fun(a = "one",b = "two",c = "three",d = "four",e = "five",f = "six")

a ONE
b TWO
c THREE
d FOUR
e FIVE
f SIX

# Decorators

In [51]:
import time
def time_it(func):
    def wrapper(*arg):
        start = time.time()
        result = func(*arg)
        end = time.time()
        print(f"Execution time: {(end - start) * 1000:.10f} ms")
    return wrapper

@time_it
def sqaure(nums):
    li = []
    for num in nums:
        li.append(num * num)
    return li

@time_it
def cube(nums):
    li1 = []
    for num in nums:
        li1.append(num * num * num)
    return li1

arra = range(1,10000)
val1 = square(arra)
val = cube(arra)

Execution time: 0.9973049164 ms
Execution time: 0.9970664978 ms

# iterator

In [49]:
s = [1,2,3,4,5,6,7]

In [52]:
a = iter(s)

In [60]:
print(next(a))

StopIteration:

# Generator

In [83]:
def fun(n):
    for i in range(n):
        yield(i ** 2)

for i in fun(3):
    print(i)

0
1
4

In [62]:
def number_generator(n):
    """A simple generator that yields numbers from 0 to n-1."""
    for i in range(n):
        yield i  # Yield the current number

# Using the number generator
number_generator(5)

# RegExp

In [84]:
import re 
a = "This is dwarakesh"
x = re.search("dwar",a)       # This is case sensitive
if x :
    print("true")
else:
    print("f")

true

In [85]:
import re 
a = "This is dwarakesh 1 2 3 4 3 1 2 3 1"
x = re.split("1",a)       # This is case sensitive
if x :
    print("true",x)
else:
    print("f")

true ['This is dwarakesh ', ' 2 3 4 3 ', ' 2 3 ', '']

In [86]:
import re 
a = "This is dwarakesh"
x = re.findall("dwar",a)       # This is case sensitive
if x :
    print("true",x)
else:
    print("f")

true ['dwar']

In [11]:
import time 
li = []
for i in "hello world":
    time.sleep(0.35)
    li.append(i)
    print("".join(li))

h
he
hel
hell
hello
hello
hello w
hello wo
hello wor
hello worl
hello world

In [26]:
users = {'Hans': 'active', 'lonore': 'inactive', '': 'active'}
a =users.items()
li = []
li1 = []
li2 = []
for i in a:
    if len(li) == 0:
        li.append(i)
    elif len(li1) == 0:
        li1.append(i)
    elif len(li2) == 0:
        li2.append(i)

li
li2
li1

[('lonore', 'inactive')]

In [40]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
def fun(Point):
    return Point.x + Point.y
    
obj = Point(1,3)
fun(obj)

4

In [54]:
re = 0
while True:
    a  = input("enter the respose: ")
    if a in ["yes","y","yep"]:
        print("hello to the website")
        break
    else:
        re = re + 1
        print()
        if re >= 4:
            print("sorry we cant able to connect to the website")
            break
        val = abs(re - 4)
        print(f"invalid response you have {val} try")

enter the respose:  d

invalid response you have 3 try

enter the respose:  yes

hello to the website

In [74]:
def fun(**kwargs):
    for i, j in kwargs.items():
        print(i, j)
val = {'1': 3, '2': 4, '3': 5, "34": 4, "45": 5, '5': 7}
fun(**val)

1 3
2 4
3 5
34 4
45 5
5 7

In [96]:
l1 = [2, 10, 2]
l2 = [3, 4]

print(type(list(range(*l1))))    # unpacking 
print(type(list(range(2,10,2))))

<class 'list'>
<class 'list'>

In [97]:
import timeit

# Using unpacking
unpacking_time = timeit.timeit('list(range(*[2, 10, 2]))', number=100000)

# Direct argument passing
direct_time = timeit.timeit('list(range(2, 10, 2))', number=100000)

print(f"Unpacking time: {unpacking_time}")
print(f"Direct passing time: {direct_time}")

Unpacking time: 0.04311699999925622
Direct passing time: 0.024717899999814108

In [108]:
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [105]:
"""Do nothing, but document it.

    No, really, it doesn't do anything.
    """

"Do nothing, but document it.\n\n    No, really, it doesn't do anything.\n    "

In [107]:
type("""Do nothing, but document it.

    No, really, it doesn't do anything.
    """)

str

In [112]:
def my_function(val):
    val
    pass

num = input("entter the word")
val = f"""{num}"""
print(my_function(val).__doc__)

entter the word Do nothing, but document it.      No, really, it doesn't do anything.

None

In [ ]:
def my_function(val):
    """This function takes a value and does nothing with it."""
    pass  # You can implement the desired functionality here later

num = input("Enter a word: ")
val = f"""{num}"""  # This is effectively just a formatted string of the input
print(my_function(val).__doc__)  # Accessing the docstring of the function

In [13]:
a = [1,2,3,4]
a.insert(2,5)
a

[1, 2, 5, 3, 4]

In [14]:
a.remove(2)
a

[1, 5, 3, 4]

In [16]:
a.pop()
a

[1, 5, 3]

# Stack

In [66]:
import time
l = []
start = time.time()
for i in [1,2,3,4,5,6,7,8,9,10]:
    l.append(i)
    time.sleep(0.5)
    print(l)
else:
    time.sleep(0.5)
    for j in range(len(l)-1):
        l.pop()
        print(l)
        time.sleep(0.5)
end = time.time()
print((end-start)*1000)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
10017.504215240479

In [69]:
import time
l = []
start = time.time()
for i in [1,2,3,4,5,6,7,8,9,10]:
    l.append(i)
    time.sleep(0.5)
    print(l)
else:
    while True:
        l.pop()
        time.sleep(0.5)
        print(l)
        if len(l) == 1:
            break

end = time.time()
print((end-start)*1000)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
9515.685081481934

# Quene

In [1]:
from collections import deque
queue = deque(["dwara", "dgvc", "Gill"])
queue.extend(["adarsh","guru"])                   
for i in range(len(queue)):
    print(queue)
    queue.popleft()

deque(['dwara', 'dgvc', 'Gill', 'adarsh', 'guru'])
deque(['dgvc', 'Gill', 'adarsh', 'guru'])
deque(['Gill', 'adarsh', 'guru'])
deque(['adarsh', 'guru'])
deque(['guru'])

# List compresion

In [87]:
li = list(map(lambda x: x * x - 2,range(1,10)))
li

[-1, 2, 7, 14, 23, 34, 47, 62, 79]

In [89]:
print([i * i - 2 for i in range(1,10)])

[-1, 2, 7, 14, 23, 34, 47, 62, 79]

In [128]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
res = [j for i in matrix for j in matrix]
res

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12],
 [1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12],
 [1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12]]

In [131]:
list(zip(matrix))

[([1, 2, 3, 4],), ([5, 6, 7, 8],), ([9, 10, 11, 12],)]

In [132]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [139]:
a = list(range(1,10))
del(a[0])
a

[2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
del(a[1:3])
a

[2, 7, 8, 9]

In [19]:
result = []
a = [1, 2, 3]
b = ['a', 'b', 'c']
for x,y in zip(a,['a', 'b', 'c']):
    result.append((x,y))
    

result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [25]:
result = [(i,j) for i,j in zip(a,b)]
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [28]:
a = "abracadabra"
li = []
li1 = []
for i in a:
    if i not in li:
        li.append(i)
    else:
        li1.append(i)
print(li)
li1

['a', 'b', 'r', 'c', 'd']

['a', 'a', 'a', 'b', 'r', 'a']

In [30]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [32]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k)

gallahad
robin

In [39]:
knights = ['gallahad','the pure','robin','the brave']
for k in enumerate(knights):
    print(k)

(0, 'gallahad')
(1, 'the pure')
(2, 'robin')
(3, 'the brave')

In [52]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string3 or string2 
non_null

'Hammer Dance'

In [53]:
print(False or True or True)

True

In [58]:
(1, 2, 3, 4) < (1, 2, 4)       # compare the third element to thrid element in the secound tuple and determent the true

True

In [59]:
(1, 2, 5, 4) < (1, 2, 4)

False

In [60]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [62]:
'ABC' < 'C' < 'Pascal' < 'Python'

False

In [63]:
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

In [64]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

# File Handling

In [69]:
with open('example.txt', 'w') as file:
    file.write('Hello, World!\n')

# Reading from the file
with open('example.txt', 'r') as file:
    file.seek(0)  
    print(file.tell())           
    print(file.read())    
    file.seek(7)  
    print(file.tell())
    print(file.read())

0
Hello, World!

7
World!

In [3]:
import json
x = [1, 'simple', 'list']
json.dumps(x)

'[1, "simple", "list"]'

In [7]:
import sys

for arg in sys.argv[1:]:
    try:
        f = open(arg, 'r')
    except OSError:
        print('cannot open', arg)
    else:
        print(arg, 'has', len(f.readlines()), 'lines')
        f.close()

cannot open -f
C:\Users\HP\AppData\Roaming\jupyter\runtime\kernel-8368976e-34e3-48f2-b85d-88a760916bbd.json has 13 lines

In [5]:
raise(ConnectionRefusedError)

ConnectionRefusedError:

In [7]:
raise(ImportError)

ImportError:

In [9]:
raise ValueError("This is dummy error")

ValueError: This is dummy error

# Using from in exception

In [21]:
try:
    val = int(input("Enter the value"))
    print(val)

except ValueError as ne:
    raise ValueError("name error ") from ne

Enter the value hjgfss

ValueError: name error

In [30]:
class custom_error(Exception):
    """This is custom error"""
    pass
try:
    int("h")
except ValueError as ce:
    raise custom_error from ce

custom_error:

In [33]:
help(custom_error)

Help on class custom_error in module __main__:

class custom_error(builtins.Exception)
 |  This is custom error
 |
 |  Method resolution order:
 |      custom_error
 |      builtins.Exception
 |      builtins.BaseException
 |      builtins.object
 |
 |  Data descriptors defined here:
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.Exception:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.Exception:
 |
 |  __new__(*args, **kwargs) class method of builtins.Exception
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  add_note(...)
 |      Exception.add_note(note) --
 |      add a note to the exception
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from builtins.BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [34]:
try:
    raise ValueError
finally:
    print("Good bye ")

Good bye

ValueError:

In [37]:
def val():
    try:
        print(False)
    finally:
        print(True)
val()

False
True

In [38]:
try:
    raise ValueError("An error occurred!")
finally:
    print("Good bye")

Good bye

ValueError: An error occurred!

In [40]:
def bool_return():
    try:
        return True
    finally:
        return False

bool_return()

False

In [43]:
def val():
    try:
        print(False)
    finally:
        print(True)
val()

False
True

In [45]:
def example():
    try:
        return 10 
    finally:
        return 20 

result = example()
print(result)

20

In [56]:
round(11.5) - round(12.5)

-2

In [59]:
try:
    val = int(input("Enter the value"))
    print(val)

except ValueError as ne:
    ne.add_note("some inforamtion")
    ne.add_note('Add some more information')
    raise ValueError("name error ") from ne

Enter the value j

ValueError: name error

In [61]:
def val():
    global a
    a = 15
#val()
a + 5

20

In [62]:
def val1():
    return "hello"
def val1():
    return "hi"

val1()

'hi'

In [65]:
class Warehouse:
   purpose = 'storage'
   region = 'west'

w1 = Warehouse()
print(w1.purpose, w1.region)

w2 = Warehouse()
w2.region = 'east'
print(w2.purpose, w2.region)

storage west
storage east

In [89]:
def introduce(**name):
    for i in name.items():
        print(i)
   # print(f"My name is {name}, I am {name} years old, and I live in {name}.")

# Mixed usage
introduce(**{"1" : 2, "2" : 3, "4" : 5})  
# Output: My name is Alice, I am 30 years old, and I live in New York.

('1', 2)
('2', 3)
('4', 5)

In [94]:
sum(i*j for i,j in zip([1,2,3,4],[1,2,3,4]))

30

In [97]:
import os
os.getcwd()

'C:\\Users\\HP\\Data Aces\\Python'

# File Wildcards

In [100]:
import glob
glob.glob('*.txt')

['example.txt', 'sample.txt', 'sample2.txt']

In [103]:
import sys
print(sys.argv)

['C:\\Users\\HP\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\HP\\AppData\\Roaming\\jupyter\\runtime\\kernel-94997c67-071e-425d-ad0a-986a8d05fc92.json']

In [104]:
sys.stderr.write('Warning, log file not found starting a new one\n')

Warning, log file not found starting a new one

47

In [3]:
from datetime import date
print(date.today())

2025-01-17

In [7]:
from datetime import date
print(date.day)

<attribute 'day' of 'datetime.date' objects>

In [9]:
import zlib
a = B"witch which has which witches wrist watch"
print(len(a))
b = zlib.compress(a)
b
c = zlib.decompress(b)
c

41

b'witch which has which witches wrist watch'

In [7]:
type(b'hello')

bytes

In [18]:
import inflect

# Create an inflect engine
p = inflect.engine()

p.number_to_words(200000000000000000)

'two hundred quadrillion'

In [28]:
def number_to_words(n):
    if n == 0:
        return "zero"

    ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    teens = ["", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen",
             "seventeen", "eighteen", "nineteen"]
    tens = ["", "ten", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]
    thousands = ["", "thousand"]

    result = ""

    if n >= 1000:
        result += ones[n // 1000] + " " + thousands[1] + " "
        n %= 1000

    if n >= 100:
        result += ones[n // 100] + " hundred "
        n %= 100
        if n > 0:
            result += "and "

    if 10 < n < 20:
        result += teens[n - 10] + " "
        n = 0

    if n >= 10:
        result += tens[n // 10] + " "
        n %= 10

    if n > 0:
        result += ones[n] + " "

    return result.strip()


number_to_words(123)

'one hundred and twenty three'

In [31]:
import reprlib
reprlib.repr('supercalifragilisticexpialidocious')

"'supercalifra...xpialidocious'"

In [38]:
import textwrap
doc = """The wrap() method is just like fill() except that it returns
a list of strings instead of one big string with newlines to separate
the wrapped lines."""

print(textwrap.fill(doc, width=80))

The wrap() method is just like fill() except that it returns a list of strings
instead of one big string with newlines to separate the wrapped lines.

In [39]:
dir()

['In',
 'Out',
 '_',
 '_13',
 '_14',
 '_15',
 '_18',
 '_21',
 '_22',
 '_24',
 '_25',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_4',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'doc',
 'exit',
 'get_ipython',
 'i',
 'inflect',
 'number',
 'number_to_words',
 'open',
 'p',
 'quit',
 'reprlib',
 's',
 't',
 'textwrap',
 'zlib']

# Threading in python

In [114]:
from threading import Thread
import time 

class Car(Thread):
    def run(self):  
        for i in range(50):  # Use range to iterate
            print("hi")
            time.sleep(0.25)

class Bike(Thread):
    def run(self):  # Add self parameter
        for i in range(50):  # Use range to iterate
            print("hello")
            time.sleep(0.25)

obj = Car()
obj1 = Bike()

obj.start()
time.sleep(0.1)
obj1.start()

obj.join()
obj1.join()

hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello

In [75]:
import logging
logging.warning("hello")

WARNING:root:hello

In [77]:
logging.error("hello")

ERROR:root:hello

In [78]:
logging.critical("hello")

CRITICAL:root:hello

In [79]:
from decimal import *
round(Decimal('0.70') * Decimal('1.05'), 2)

Decimal('0.74')

In [81]:
Decimal('1')

Decimal('1')

In [86]:
import json

# Python object
data = {
    "name": "John",
    "age": 30,
    "skills": ["Python", "JavaScript"],
    "isEmployed": True
}

# Convert to JSON string
json_string = json.dumps(data)
print(type(json_string))

<class 'str'>

In [88]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number == 3:
        print("Found 3, exiting loop.")
        break
else:
    print("3 not found in the list.")

Found 3, exiting loop.

In [1]:
1/2 + 0/4 + 1/8

0.625

In [5]:
x = 20  # Binary: 00000101
result = ~x
print(result)  # Output: -6 (Binary: 11111010, Two's complement representation)

-21

# wipro question

In [12]:
li = [1,2,3,4,5,6]
odd = 0
even = 0
for i,j in enumerate(li):
    if i % 2 == 0:
         odd = odd + j
    else:
        even = even + j

print(even - odd)
even,odd

3

(12, 9)

# zoho question

In [35]:
li = [1,2,3,4,5,6,7,8,9]
gap = 3
def val(gap):
    for i in range(3):
        print(sum(li[::gap]))
        del(li[0])
    
val(gap)

12
15
18

# This is used for the better readablity of the function and this is called as the function anotation

In [24]:
def fun(a:int,b:int) -> int:
    return a+b

fun(1,2)

3

In [28]:
def fun(a:int,b:str) -> str:
    return a * b

fun(3," hello")

' hello hello hello'

In [36]:
def append_to_list(value, my_list=[]):
    my_list.append(value)
    return my_list

print(append_to_list(1))
print(append_to_list(2))
print(append_to_list(3))

[1]
[1, 2]
[1, 2, 3]

In [37]:
s = "hello"
s[0] = "H"
print(s)

TypeError: 'str' object does not support item assignment

In [38]:
a, *b, c = [1, 2, 3, 4, 5]
print(a, b, c)

1 [2, 3, 4] 5

In [43]:
a,*b,c, = [1,2,3,4,5]
print(a, b, c)

1 [2, 3, 4] 5

In [49]:
type("hello",(),{})

__main__.hello

# Super class 
This is used to the call the another class constructors in the other class

In [62]:
class A:
    def __init__(self):
        print("A")
class B(A):
    def __init__(self):
        super().__init__()
        print("B")

class B(B,A):
    def __init__(self):
        super().__init__()
        print("C")

obj = B()

A
B
C

# Meta classes

In [116]:
class Meta(type):
    def __new__(self,class_name,Base,attribes):
        print("attribes",attribes)
        print("Base",Base)
        print("class name:",class_name)
        return type(class_name,Base,attribes) 

class Cat():
    v = 10
    b = 20

class Dog(Cat, metaclass = Meta):
    x = 5
    y = 6
    def val(self):
        return Cat.v + Dog.x, Cat.b + Dog.y 

obj = Dog()
print(obj.val())

attribes {'__module__': '__main__', '__qualname__': 'Dog', 'x': 5, 'y': 6, 'val': <function Dog.val at 0x0000029AE0B8A5C0>}
Base (<class '__main__.Cat'>,)
class name: Dog
(15, 26)

In [113]:
from abc import ABC, abstractmethod

class ab(ABC):
    @abstractmethod
    def func2(self):
        return "This is the abstract class"
        
        
class ab1(ab):
    def func2(self):
        print("This is the normal class")

obj = ab1()
obj.func2()

This is the normal class

In [14]:
import multiprocessing
def sq(n):
    for i in n:
        print(n * n)

def cu(n):
    for i in n:
        print(n * n * n)

if __name__ == "__main__":
    p1 = multiprocessing.Process(target = sq ,args = [1,2,3,4])
    p2 = multiprocessing.Process(target = cu ,args = [1,2,3,4])
    p1.start()
    p2.start()

    p1.join()
    p2.join()

    print("process")

process

In [15]:
import multiprocessing

# Function to calculate squares
def sq(numbers):
    for n in numbers:
        print(f"Square of {n}: {n * n}", flush=True)

# Function to calculate cubes
def cu(numbers):
    for n in numbers:
        print(f"Cube of {n}: {n * n * n}", flush=True)

if __name__ == "__main__":
    # Create the processes
    p1 = multiprocessing.Process(target=sq, args=([1, 2, 3, 4],))
    p2 = multiprocessing.Process(target=cu, args=([1, 2, 3, 4],))

    # Start the processes
    p1.start()
    p2.start()

    # Wait for the processes to complete
    p1.join()
    p2.join()

    print("Processes completed.")

Processes completed.

# Database

In [21]:
import mysql.connector

# Establish connection
connection = mysql.connector.connect(
    host="localhost",      
    user="root",   
    password="dwarakesh", 
    database="dwara"  
)

if connection.is_connected():
    print("Successfully connected to the database")

Successfully connected to the database

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "dwarakesh",
    database = "eg1"
)
cursor = conn.cursor()

cursor.execute("create table if not exists person(first_name varchar(30), employee_age int,Id int primary key)")

In [2]:
cursor.execute("insert into person(first_name,employee_age,Id) values(%s,%s,%s)",("valu",26,1234))
conn.commit()

cursor.execute("select * from person")
for i in cursor:
    print(i)

IntegrityError: 1062 (23000): Duplicate entry '1234' for key 'person.PRIMARY'

# describe

In [ ]:
cursor.execute("describe person")
for i in cursor:
    print(i)

# where

In [ ]:
cursor.execute("select * from person where first_name = 'Dwara'")
for i in cursor:
    print(i)

# update

In [ ]:
cursor.execute("update person set first_name = 'dwara' where Id = 1001")
conn.commit()

cursor.execute("select * from person")
for i in cursor:
    print(i)

# delete

In [ ]:
cursor.execute("DELETE FROM person WHERE first_name = 'shalini'")
conn.commit()
cursor.execute("select * from person")
for i in cursor:
    print(i)

# alter

In [ ]:
'''cursor.execute("alter table person CHANGE age employee_age INT")
conn.commit()
cursor.execute("select * from person")
for i in cursor:
    print(i)'''

In [ ]:
cursor.execute("describe person")
for i in cursor:
    print(i)

In [ ]:
cursor.execute("update person set first_name = 'gurunathaaa' where Id = 1000")
conn.commit()

In [ ]:
cursor.execute("select * from person")
for i in cursor:
    print(i)

# Rollback

In [ ]:
conn.rollback()

# SQL Queries

In [3]:
cursor.execute("select first_name,employee_age from person where employee_age <= 25 order by Id ")
result = cursor.fetchall()
result

[('dwara', 23), ('harsha', 25), ('jumbo', 25)]

In [4]:
cursor.execute("select * from person order by Id ")
result = cursor.fetchall()
result

[('charle', 26, 999, datetime.date(2025, 1, 1)),
 ('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2)),
 ('dwara', 23, 1001, datetime.date(2025, 1, 3)),
 ('harsha', 25, 1005, datetime.date(2025, 1, 4)),
 ('jumbo', 25, 1006, datetime.date(2025, 1, 5)),
 ('dgvc', 26, 1010, datetime.date(2025, 1, 6)),
 ('amb', 26, 1080, datetime.date(2025, 1, 7)),
 ('prabu', 26, 1081, datetime.date(2025, 1, 8)),
 ('valu', 26, 1234, datetime.date(2025, 1, 9))]

# aggreagate function

In [5]:
cursor.execute("select count(*) from person")
result = cursor.fetchall()
print(result)

cursor.execute("select sum(employee_age) from person ")
result = cursor.fetchall()
print(result)

cursor.execute("select min(employee_age) from person")
result = cursor.fetchall()
print(result)

cursor.execute("select max(employee_age) from person")
result = cursor.fetchall()
print(result)

[(9,)]
[(Decimal('229'),)]
[(23,)]
[(26,)]

# altering the column

In [6]:
cursor.execute("ALTER TABLE person ADD joined_date DATE")

ProgrammingError: 1060 (42S21): Duplicate column name 'joined_date'

In [ ]:
cursor.execute("describe person")
for i in cursor:
    print(i)

In [ ]:
cursor.execute("UPDATE person SET joined_date = '2025-01-01' WHERE Id = 999")

In [7]:
cursor.execute("UPDATE person SET joined_date = '2025-01-02' WHERE Id = 1000")

In [8]:
cursor.execute("UPDATE person SET joined_date = '2025-01-03' WHERE Id = 1001")

In [9]:
cursor.execute("UPDATE person SET joined_date = '2025-01-04' WHERE Id = 1005")

In [10]:
cursor.execute("UPDATE person SET joined_date = '2025-01-05' WHERE Id = 1006")

In [11]:
cursor.execute("UPDATE person SET joined_date = '2025-01-06' WHERE Id = 1010")

In [12]:
cursor.execute("UPDATE person SET joined_date = '2025-01-07' WHERE Id = 1080")

In [13]:
cursor.execute("UPDATE person SET joined_date = '2025-01-08' WHERE Id = 1081")

In [14]:
cursor.execute("UPDATE person SET joined_date = '2025-01-09' WHERE Id = 1234")

In [15]:
cursor.execute("select * from person")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1))
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2))
('dwara', 23, 1001, datetime.date(2025, 1, 3))
('harsha', 25, 1005, datetime.date(2025, 1, 4))
('jumbo', 25, 1006, datetime.date(2025, 1, 5))
('dgvc', 26, 1010, datetime.date(2025, 1, 6))
('amb', 26, 1080, datetime.date(2025, 1, 7))
('prabu', 26, 1081, datetime.date(2025, 1, 8))
('valu', 26, 1234, datetime.date(2025, 1, 9))

# Scaler function

In [16]:
cursor.execute("select upper(first_name) from person")
for i in cursor:
    print(i)

('CHARLE',)
('GURUNATHAAA',)
('DWARA',)
('HARSHA',)
('JUMBO',)
('DGVC',)
('AMB',)
('PRABU',)
('VALU',)

In [17]:
cursor.execute("select abs(Id) from person")
for i in cursor:
    print(i)

(999,)
(1000,)
(1001,)
(1005,)
(1006,)
(1010,)
(1080,)
(1081,)
(1234,)

In [18]:
cursor.execute("select Length(first_name) from person")
for i in cursor:
    print(i)

(6,)
(11,)
(5,)
(6,)
(5,)
(4,)
(3,)
(5,)
(4,)

In [19]:
cursor.execute("SELECT first_name, IF(employee_age <= 25 , 'Adult', 'Minor') AS AgeGroup FROM person;")

In [20]:
for i in cursor:
    print(i)

('charle', 'Minor')
('gurunathaaa', 'Minor')
('dwara', 'Adult')
('harsha', 'Adult')
('jumbo', 'Adult')
('dgvc', 'Minor')
('amb', 'Minor')
('prabu', 'Minor')
('valu', 'Minor')

# Date function

In [21]:
cursor.execute("SELECT CURDATE() AS CurrentDate, NOW() AS CurrentDateTime")
result = cursor.fetchone()
print(result[1])

2025-01-22 15:20:43

In [22]:
cursor.execute("SELECT year(joined_date) AS yearofjoining , first_name from person ")
result = cursor.fetchall()
print(result)

[(2025, 'charle'), (2025, 'gurunathaaa'), (2025, 'dwara'), (2025, 'harsha'), (2025, 'jumbo'), (2025, 'dgvc'), (2025, 'amb'), (2025, 'prabu'), (2025, 'valu')]

In [23]:
cursor.execute("SELECT month(joined_date) AS yearofjoining , first_name from person ")
result = cursor.fetchall()
print(result)

[(1, 'charle'), (1, 'gurunathaaa'), (1, 'dwara'), (1, 'harsha'), (1, 'jumbo'), (1, 'dgvc'), (1, 'amb'), (1, 'prabu'), (1, 'valu')]

In [24]:
cursor.execute("SELECT day(joined_date) AS yearofjoining , first_name from person ")
result = cursor.fetchall()
print(result)

[(1, 'charle'), (2, 'gurunathaaa'), (3, 'dwara'), (4, 'harsha'), (5, 'jumbo'), (6, 'dgvc'), (7, 'amb'), (8, 'prabu'), (9, 'valu')]

# SQL Joins

In [25]:
cursor.execute("create table if not exists employee(salary int, place varchar(30),Id int)")
cursor.execute("describe employee")
for i in cursor:
    print(i)

('salary', 'int', 'YES', '', None, '')
('place', 'varchar(30)', 'YES', '', None, '')
('Id', 'int', 'YES', '', None, '')

In [26]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(50000,'chennai',999))

In [27]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(60000,'thiruvallur',1000))

In [28]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(70000,'kanchi',1001))

In [29]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(80000,'delhi',1005))

In [30]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(50000,'UP',1006))

In [31]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(20000,'karur',1010))

In [32]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(10000,'thirunaveli',1080))

In [33]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(60000,'madurai',1081))

In [34]:
cursor.execute("insert into employee(salary, place ,Id ) values (%s,%s,%s)",(66000,'trichy',1234))

In [35]:
cursor.execute("select * from  employee")
for i in cursor:
    print(i)

(50000, 'chennai', 999)
(60000, 'thiruvallur', 1000)
(70000, 'kanchi', 1001)
(80000, 'delhi', 1005)
(50000, 'UP', 1006)
(20000, 'karur', 1010)
(10000, 'thirunaveli', 1080)
(60000, 'madurai', 1081)
(66000, 'trichy', 1234)
(50000, 'chennai', 999)
(60000, 'thiruvallur', 1000)
(70000, 'kanchi', 1001)
(80000, 'delhi', 1005)
(50000, 'UP', 1006)
(20000, 'karur', 1010)
(10000, 'thirunaveli', 1080)
(60000, 'madurai', 1081)
(66000, 'trichy', 1234)

# Left joins

In [36]:
cursor.execute("select * from person left join employee on person.Id = employee.Id")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 20000, 'karur', 1010)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 20000, 'karur', 1010)
('amb', 26, 1080, datetime.date(2025, 1, 7), 10000, 'thirunaveli', 1080)
('amb', 26, 1080, datetime.date(2025, 1, 7), 10000, 'thirunaveli', 1080)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)

In [37]:
cursor.execute("select * from person left join employee on person.Id = employee.Id where employee.salary >= 50000")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)

# right left

In [38]:
cursor.execute("select * from person right join employee on person.Id = employee.Id where employee.salary >= 50000")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)

# inner joins

In [39]:
cursor.execute("select * from person inner join employee on person.Id = employee.Id where employee.salary >= 50000")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)

# cross joins

In [40]:
cursor.execute("SELECT * FROM person CROSS JOIN employee")
for i in cursor:
    print(i)

('valu', 26, 1234, datetime.date(2025, 1, 9), 50000, 'chennai', 999)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 50000, 'chennai', 999)
('amb', 26, 1080, datetime.date(2025, 1, 7), 50000, 'chennai', 999)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 50000, 'chennai', 999)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'chennai', 999)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 50000, 'chennai', 999)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 50000, 'chennai', 999)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('valu', 26, 1234, datetime.date(2025, 1, 9), 60000, 'thiruvallur', 1000)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'thiruvallur', 1000)
('amb', 26, 1080, datetime.date(2025, 1, 7), 60000, 'thiruvallur', 1000)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 60000, 'thiruvallur', 1000)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 60000, 'thiruvallur', 1000)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 60000, 'thiruvallur', 1000)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('charle', 26, 999, datetime.date(2025, 1, 1), 60000, 'thiruvallur', 1000)
('valu', 26, 1234, datetime.date(2025, 1, 9), 70000, 'kanchi', 1001)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 70000, 'kanchi', 1001)
('amb', 26, 1080, datetime.date(2025, 1, 7), 70000, 'kanchi', 1001)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 70000, 'kanchi', 1001)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 70000, 'kanchi', 1001)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 70000, 'kanchi', 1001)
('charle', 26, 999, datetime.date(2025, 1, 1), 70000, 'kanchi', 1001)
('valu', 26, 1234, datetime.date(2025, 1, 9), 80000, 'delhi', 1005)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 80000, 'delhi', 1005)
('amb', 26, 1080, datetime.date(2025, 1, 7), 80000, 'delhi', 1005)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 80000, 'delhi', 1005)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 80000, 'delhi', 1005)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 80000, 'delhi', 1005)
('charle', 26, 999, datetime.date(2025, 1, 1), 80000, 'delhi', 1005)
('valu', 26, 1234, datetime.date(2025, 1, 9), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 50000, 'UP', 1006)
('amb', 26, 1080, datetime.date(2025, 1, 7), 50000, 'UP', 1006)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 50000, 'UP', 1006)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 50000, 'UP', 1006)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 50000, 'UP', 1006)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 50000, 'UP', 1006)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'UP', 1006)
('valu', 26, 1234, datetime.date(2025, 1, 9), 20000, 'karur', 1010)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 20000, 'karur', 1010)
('amb', 26, 1080, datetime.date(2025, 1, 7), 20000, 'karur', 1010)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 20000, 'karur', 1010)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 20000, 'karur', 1010)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 20000, 'karur', 1010)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 20000, 'karur', 1010)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 20000, 'karur', 1010)
('charle', 26, 999, datetime.date(2025, 1, 1), 20000, 'karur', 1010)
('valu', 26, 1234, datetime.date(2025, 1, 9), 10000, 'thirunaveli', 1080)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 10000, 'thirunaveli', 1080)
('amb', 26, 1080, datetime.date(2025, 1, 7), 10000, 'thirunaveli', 1080)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 10000, 'thirunaveli', 1080)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 10000, 'thirunaveli', 1080)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 10000, 'thirunaveli', 1080)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 10000, 'thirunaveli', 1080)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 10000, 'thirunaveli', 1080)
('charle', 26, 999, datetime.date(2025, 1, 1), 10000, 'thirunaveli', 1080)
('valu', 26, 1234, datetime.date(2025, 1, 9), 60000, 'madurai', 1081)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('amb', 26, 1080, datetime.date(2025, 1, 7), 60000, 'madurai', 1081)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 60000, 'madurai', 1081)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 60000, 'madurai', 1081)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 60000, 'madurai', 1081)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 60000, 'madurai', 1081)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'madurai', 1081)
('charle', 26, 999, datetime.date(2025, 1, 1), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 66000, 'trichy', 1234)
('amb', 26, 1080, datetime.date(2025, 1, 7), 66000, 'trichy', 1234)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 66000, 'trichy', 1234)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 66000, 'trichy', 1234)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 66000, 'trichy', 1234)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 66000, 'trichy', 1234)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 66000, 'trichy', 1234)
('charle', 26, 999, datetime.date(2025, 1, 1), 66000, 'trichy', 1234)
('valu', 26, 1234, datetime.date(2025, 1, 9), 50000, 'chennai', 999)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 50000, 'chennai', 999)
('amb', 26, 1080, datetime.date(2025, 1, 7), 50000, 'chennai', 999)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 50000, 'chennai', 999)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'chennai', 999)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 50000, 'chennai', 999)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 50000, 'chennai', 999)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 50000, 'chennai', 999)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'chennai', 999)
('valu', 26, 1234, datetime.date(2025, 1, 9), 60000, 'thiruvallur', 1000)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'thiruvallur', 1000)
('amb', 26, 1080, datetime.date(2025, 1, 7), 60000, 'thiruvallur', 1000)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 60000, 'thiruvallur', 1000)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 60000, 'thiruvallur', 1000)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 60000, 'thiruvallur', 1000)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 60000, 'thiruvallur', 1000)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'thiruvallur', 1000)
('charle', 26, 999, datetime.date(2025, 1, 1), 60000, 'thiruvallur', 1000)
('valu', 26, 1234, datetime.date(2025, 1, 9), 70000, 'kanchi', 1001)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 70000, 'kanchi', 1001)
('amb', 26, 1080, datetime.date(2025, 1, 7), 70000, 'kanchi', 1001)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 70000, 'kanchi', 1001)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 70000, 'kanchi', 1001)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 70000, 'kanchi', 1001)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 70000, 'kanchi', 1001)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 70000, 'kanchi', 1001)
('charle', 26, 999, datetime.date(2025, 1, 1), 70000, 'kanchi', 1001)
('valu', 26, 1234, datetime.date(2025, 1, 9), 80000, 'delhi', 1005)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 80000, 'delhi', 1005)
('amb', 26, 1080, datetime.date(2025, 1, 7), 80000, 'delhi', 1005)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 80000, 'delhi', 1005)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 80000, 'delhi', 1005)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 80000, 'delhi', 1005)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 80000, 'delhi', 1005)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 80000, 'delhi', 1005)
('charle', 26, 999, datetime.date(2025, 1, 1), 80000, 'delhi', 1005)
('valu', 26, 1234, datetime.date(2025, 1, 9), 50000, 'UP', 1006)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 50000, 'UP', 1006)
('amb', 26, 1080, datetime.date(2025, 1, 7), 50000, 'UP', 1006)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 50000, 'UP', 1006)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 50000, 'UP', 1006)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 50000, 'UP', 1006)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 50000, 'UP', 1006)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 50000, 'UP', 1006)
('charle', 26, 999, datetime.date(2025, 1, 1), 50000, 'UP', 1006)
('valu', 26, 1234, datetime.date(2025, 1, 9), 20000, 'karur', 1010)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 20000, 'karur', 1010)
('amb', 26, 1080, datetime.date(2025, 1, 7), 20000, 'karur', 1010)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 20000, 'karur', 1010)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 20000, 'karur', 1010)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 20000, 'karur', 1010)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 20000, 'karur', 1010)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 20000, 'karur', 1010)
('charle', 26, 999, datetime.date(2025, 1, 1), 20000, 'karur', 1010)
('valu', 26, 1234, datetime.date(2025, 1, 9), 10000, 'thirunaveli', 1080)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 10000, 'thirunaveli', 1080)
('amb', 26, 1080, datetime.date(2025, 1, 7), 10000, 'thirunaveli', 1080)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 10000, 'thirunaveli', 1080)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 10000, 'thirunaveli', 1080)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 10000, 'thirunaveli', 1080)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 10000, 'thirunaveli', 1080)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 10000, 'thirunaveli', 1080)
('charle', 26, 999, datetime.date(2025, 1, 1), 10000, 'thirunaveli', 1080)
('valu', 26, 1234, datetime.date(2025, 1, 9), 60000, 'madurai', 1081)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 60000, 'madurai', 1081)
('amb', 26, 1080, datetime.date(2025, 1, 7), 60000, 'madurai', 1081)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 60000, 'madurai', 1081)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 60000, 'madurai', 1081)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 60000, 'madurai', 1081)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 60000, 'madurai', 1081)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 60000, 'madurai', 1081)
('charle', 26, 999, datetime.date(2025, 1, 1), 60000, 'madurai', 1081)
('valu', 26, 1234, datetime.date(2025, 1, 9), 66000, 'trichy', 1234)
('prabu', 26, 1081, datetime.date(2025, 1, 8), 66000, 'trichy', 1234)
('amb', 26, 1080, datetime.date(2025, 1, 7), 66000, 'trichy', 1234)
('dgvc', 26, 1010, datetime.date(2025, 1, 6), 66000, 'trichy', 1234)
('jumbo', 25, 1006, datetime.date(2025, 1, 5), 66000, 'trichy', 1234)
('harsha', 25, 1005, datetime.date(2025, 1, 4), 66000, 'trichy', 1234)
('dwara', 23, 1001, datetime.date(2025, 1, 3), 66000, 'trichy', 1234)
('gurunathaaa', 26, 1000, datetime.date(2025, 1, 2), 66000, 'trichy', 1234)
('charle', 26, 999, datetime.date(2025, 1, 1), 66000, 'trichy', 1234)

# self joins

In [41]:
'''employee_id	name	manager_id
     1	        Alice	3
     2	        Bob	    3
     3	        Charlie	NULL
     4	        David	2
     5	        Eve	    2                      '''

'employee_id\tname\tmanager_id\n     1\t        Alice\t3\n     2\t        Bob\t    3\n     3\t        Charlie\tNULL\n     4\t        David\t2\n     5\t        Eve\t    2                      '

In [42]:
SELECT 
    e1.name AS employee_name,
    e2.name AS manager_name
FROM 
    employees e1
INNER JOIN 
    employees e2 ON e1.manager_id = e2.employee_id;

IndentationError: unexpected indent (2550196021.py, line 2)

In [43]:
'''employee_name	manager_name
        Alice	     Charlie
        Bob	         Charlie
        David	     Bob
        Eve	         Bob           '''

'employee_name\tmanager_name\n        Alice\t     Charlie\n        Bob\t         Charlie\n        David\t     Bob\n        Eve\t         Bob           '

# subquery

In [44]:
cursor.execute("select * from person where Id in (select Id from employee where place = 'chennai')")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1))

In [45]:
cursor.execute("select * from person where Id in (select Id from employee where salary <= 50000)")
for i in cursor:
    print(i)

('charle', 26, 999, datetime.date(2025, 1, 1))
('jumbo', 25, 1006, datetime.date(2025, 1, 5))
('dgvc', 26, 1010, datetime.date(2025, 1, 6))
('amb', 26, 1080, datetime.date(2025, 1, 7))

# Data Filtering and Grouping

In [46]:
cursor.execute("SELECT * FROM employee having salary >= 50000")
for i in cursor:
    print(i)

(50000, 'chennai', 999)
(60000, 'thiruvallur', 1000)
(70000, 'kanchi', 1001)
(80000, 'delhi', 1005)
(50000, 'UP', 1006)
(60000, 'madurai', 1081)
(66000, 'trichy', 1234)
(50000, 'chennai', 999)
(60000, 'thiruvallur', 1000)
(70000, 'kanchi', 1001)
(80000, 'delhi', 1005)
(50000, 'UP', 1006)
(60000, 'madurai', 1081)
(66000, 'trichy', 1234)

In [47]:
cursor.execute("SELECT YEAR(joined_date), COUNT(*) FROM person GROUP BY YEAR(joined_date)")
for i in cursor:
    print(i)

(2025, 9)

# indexing

In [ ]:
#cursor.execute("create index index_name on person (Id)")

In [53]:
cursor.execute("SHOW INDEX FROM person")
for i in cursor:
    print(i)

('person', 0, 'PRIMARY', 1, 'Id', 'A', 5, None, None, '', 'BTREE', '', '', 'YES', None)
('person', 1, 'index_name', 1, 'Id', 'A', 9, None, None, '', 'BTREE', '', '', 'YES', None)